conda.enabled = true
singularity.enabled = true

params {
    nthreads = 32
    genome_assembly = '/data2/work/Notothenioids/Dmaw12/Dmaw12_hifiasm_hic_yahs/scaffold_5.fa'
    dfam_ref = '/data2/work/local/RepeatMasker/Libraries/famdb/dfam39_0_10.fasta'  // dfam annotated repeats
    rna_reads = '/data2/work/Notothenioids/Dmaw12/rnaseq_sra' // rna reads from sra
    repeatmasker = '/data2/work/local/RepeatMasker' // repeatmasker filepath (don't include the executable)
    repeatmodeler = '/data2/work/local/RepeatModeler/RepeatModeler-2.0.5' // repeatmodeler filepath
    braker_docker_image = '/data2/work/local/braker3/braker3_latest.sif'
    protein_ref = '/data2/work/Refs/Drerio/GRCz10/GCF_000002035.5_GRCz10/GCF_000002035.5_GRCz10_protein.faa'
    augustus_config = '/data2/work/local/braker3'
    interproscan = '/data2/interproscan/interproscan-5.70-102.0'
}

