conda.enabled       = true
singularity.enabled = true

params {

    // --------------------------------------
    // Core Inputs (Expected to be overridden by params.yaml)
    // --------------------------------------
    genome_assembly = null
    masked_genome   = null
    rna_reads       = null
    
    
    nthreads        = 32
    species_id      = null
    help            = false

    // --------------------------------------
    // Environment & Tool Paths for polar2020
    // --------------------------------------
    
    // Repeats
    rm_ref          = '/data2/work/local/RepeatMasker/Libraries/famdb/dfam39_0_10.fasta'
    repeatmasker    = '/data2/work/local/RepeatMasker'
    repeatmodeler   = '/data2/work/local/RepeatModeler/RepeatModeler-2.0.5'
    earlGrey_env    = '/data2/work/local/miniconda/envs/earlgrey'
    snakemake_env   = '/data2/work/local/miniconda/envs/snakemake'

    // Protein reference for Annotation
    protein_ref     = '/data2/work/Refs/orthodb_drero_ref_fish_annotations/protein.faa'


    // Functional Annotation
    interproscan    = '/data2/interproscan/interproscan-5.70-102.0'
    busco_download_path = '/data2/busco_June2024/busco_downloads'
    busco_lineage       = 'actinopterygii_odb12'

    // Braker4 / Augustus Config
    braker4_snakefile        = '/data2/work/local/BRAKER4/Snakefile'
    braker4_singularity      = '/data2/work/local/BRAKER4/.singularity_cache'
    braker4_singularity_args = '-B /home -B /tmp -B /data2'
    augustus_config          = '/data2/work/local/braker3' // Kept in case Braker4 still points to it
}
