conda.enabled = true
singularity.enabled = true

// Define your parameters

params {

    // params likely to be changed 
    nthreads = 32
    n = null 
    genome_assembly = null
    g = null
    rna_reads = null
    r = null
    rm_ref = '/data2/work/local/RepeatMasker/Libraries/famdb/dfam39_0_10.fasta'  // dfam annotated repeats
    p = null


    // params for testing

    // agat only
    interprotsv = null
    brakergff3 = null


    // Different modes
    
    runMode = "full"

    // interpro only mode (--runMode interpro_only)
    braker_aa = null
    braker_gff = null
    a = null

	// braker_bam
	braker_bam = null // only when used with runMode "brakerBam"

    // params less likely to be changed
    repeatmasker = '/data2/work/local/RepeatMasker' // repeatmasker filepath (don't include the executable)
    repeatmodeler = '/data2/work/local/RepeatModeler/RepeatModeler-2.0.5' // repeatmodeler filepath
    braker_docker_image = '/data2/work/local/braker3/braker3_latest.sif'
    funannotate_slim_docker_image = '/data2/work/local/funannotate/funannotate-slim_latest.sif'
    protein_ref = '/data2/work/Refs/orthodb_drero_ref_fish_annotations/protein.faa'
    augustus_config = '/data2/work/local/braker3'
    interproscan = '/data2/interproscan/interproscan-5.70-102.0'
    help = false
    busco_download_path = '/data2/busco_June2024/busco_downloads'

}

// generate diagnostics

report.enabled = true       
dag.enabled = true         
